<div class="alert alert-success" id="success-alert">
    <strong>Success! </strong> <span id="success-alert-text">Text Here !</span>
</div>

<div class="alert alert-info " id="info-alert ">
    <strong>Info! </strong> <span id="info-alert-text ">Text Here !</span>
</div>

<div class="alert alert-warning " id="warning-alert ">
    <strong>Warning! </strong> <span id="warning-alert-text ">Text Here !</span>
</div>

<div class="alert alert-danger" id="danger-alert">
    <strong>Failed! </strong> <span id="danger-alert-text">Text Here !</span>
</div>

<script>
    function success(message) {
        $("#success-alert-text ").html(message);
        $("#success-alert ").fadeTo(5000, 500).slideUp(500, function () {
            $("#success-alert ").slideUp(500);
        });
    }

    function info(message) {
        $("#info-alert-text ").html(message);
        $("#info-alert ").fadeTo(5000, 500).slideUp(500, function () {
            $("#info-alert ").slideUp(500);
        });
    }

    function warning(message) {
        $("#warning-alert-text ").html(message);
        $("#warning-alert ").fadeTo(5000, 500).slideUp(500, function () {
            $("#warning-alert ").slideUp(500);
        });
    }

    function danger(message) {
        $("#danger-alert-text ").html(message);
        $("#danger-alert ").fadeTo(5000, 500).slideUp(500, function () {
            $("#danger-alert ").slideUp(500);
        });
    }
</script>