<div class="row" style="margin-top: 0.5rem;">
    <div class="col-md-3">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active">Dashboard</a>
            <a href="#" class="list-group-item list-group-item-action">User Management</a>
            <a href="#" class="list-group-item list-group-item-action">Office Management</a>
            <a href="#" class="list-group-item list-group-item-action">Settings</a>
        </div>
    </div>
    <div class="col-md-9">
        <div class="card">
            <div class="card-body">
                <div th:replace="dashboard_options/o_dashboard"></div>
            </div>
        </div>
    </div>
</div>